<section class="view-resume container" ng-controller="ResumeController as ResumeCtrl" itemscope itemtype="http://schema.org/Person">

    <header>
        <h1>{{ResumeCtrl.contact.firstName}} {{ResumeCtrl.contact.middleName}} {{ResumeCtrl.contact.lastName}}'s Resume</h1>
    </header>

    <div class="resume-sheet">

        <div class="resume-overview">

            <div class="resume-headshot">
                <img src="public/assets/img/{{ResumeCtrl.contact.image}}" itemprop="image" class="contact-image" alt="Photo of {{ResumeCtrl.contact.firstName}} {{ResumeCtrl.contact.middleName}} {{ResumeCtrl.contact.lastName}}" />
            </div>

            <resume-contact contact="ResumeCtrl.contact"></resume-contact>

            <resume-summary summary="ResumeCtrl.summary"></resume-summary>

            <resume-specialties specialties="ResumeCtrl.specialties"></resume-specialties>

        </div>

        <div class="resume-main">

            <div class="resume-masthead">

                <resume-contact contact="ResumeCtrl.contact"></resume-contact>

            </div>


            <div class="resume-body">

                <resume-experience experience="ResumeCtrl.experience"></resume-experience>

                <resume-education education="ResumeCtrl.education"></resume-education>

                <resume-volunteer volunteer="ResumeCtrl.volunteer"></resume-volunteer>

            </div>

        </div>

    </div>

</section>

<div class="container">
    <section class="resume-technical">
        <h2>Do cool stuff to this resume</h2>
        <ul>
            <li><a href="https://gsnedders.html5.org/outliner/" target="_blank">See the HTML5 outline ('cause that's what geeks do)</a></li>
            <li><a href="https://search.google.com/structured-data/testing-tool" target="_blank">Show the structured data (like cookies for SEO - eat up, yum yum!)</a></li>
            <li><a href="" target="_blank">WCAG Test (accessibility is important!)</a></li>
            <li><a href="" target="_blank">Toggle Theme (some sense of how a screen reader would see it)</a></li>
            <li><a href="" target="_blank">Switch Theme (not impressed yet? maybe you need to see me differently)</a></li>
        </ul>
    </section>
</div>
