
<section class="view-resume" ng-controller="ResumeController as ResumeCtrl" itemscope itemtype="http://schema.org/Person">
    <h1>Resume</h1>

    <resume-contact contact="ResumeCtrl.contact"></resume-contact>

    <resume-summary summary="ResumeCtrl.summary"></resume-summary>

    <resume-specialties specialties="ResumeCtrl.specialties"></resume-specialties>

    <resume-experience experience="ResumeCtrl.experience"></resume-experience>

    <resume-education education="ResumeCtrl.education"></resume-education>

    <resume-volunteer volunteer="ResumeCtrl.volunteer"></resume-volunteer>

</section>
