.view-resume {
    .box-shadow(8px 8px 4px @gray-light);
    > header {
        display: none;
    }
    .resume-sheet {
        display: table;
        background-color: white;
        margin-left: -@grid-gutter-width / 2;
        margin-right: -@grid-gutter-width / 2;
    }
    .resume-overview {
        display: table-cell;
        vertical-align: top;
        width: 25%;
        padding: @padding-large-vertical (@grid-gutter-width / 2);
    }
    .resume-main {
        display: table-cell;
        vertical-align: top;
        width: 75%;
        padding: @padding-large-vertical (@grid-gutter-width / 2);
    }
    .resume-masthead {
    }
    .resume-body {
    }
    .resume-technical {
        .make-row();
        //.make-sm-column(12);
    }
}

@media (max-width: @screen-sm) {
    .view-resume {
        .resume-sheet,
        .resume-overview,
        .resume-main {
            display: block;
            width: auto;
        }
    }
}