<section class="section-experience">
    <h2 class="section-title">Experience</h2>
    <article ng-repeat="experience in experiences" class="experience">
        <h3 ng-if="experience.position" class="position">{{experience.position}}</h3>
        <div ng-if="experience.company" class="company">{{experience.company}}</div>
        <div ng-if="experience.companyDesc" class="companyDesc">{{experience.companyDesc}}</div>
        <div ng-if="experience.position" class="position">{{experience.position}}</div>
        <div ng-if="experience.tech.length" class="tech">
            <div class="tech-title">Tools</div>
            <ul>
                <li ng-repeat="tech in experience.tech">{{tech}}</li>
            </ul>
        </div>
        <div ng-if="experience.city" class="city">{{experience.city}}</div>
        <div ng-if="experience.state" class="state">{{experience.state}}</div>
        <div ng-if="experience.start" class="start">{{experience.start}}</div>
        <div ng-if="experience.end" class="end">{{experience.end}}</div>
        <div ng-if="experience.description" class="description"><div ng-bind-html="experience.description | trust"></div></div>
    </article>
</section>