.resume-body {
    > section {
        > h2 {
            background-color: @brand-primary;
            color: white;
            display: inline-block;
            margin-left: -@grid-gutter-width / 2;
            padding: 2px @grid-gutter-width / 2 4px;
            text-transform: uppercase;
        }
    }
}