.resume-overview {
    background: @brand-dark;
    background: -moz-linear-gradient(top,  @brand-dark 0%, @brand-primary 100%);
    background: -webkit-linear-gradient(top,  @brand-dark 0%,@brand-primary 100%);
    background: linear-gradient(to bottom,  @brand-dark 0%,@brand-primary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@brand-dark', endColorstr='@brand-primary',GradientType=0 );
    color: @gray-lighter;
    a {
        color: white;
    }
    .resume-headshot {
        margin-bottom: @padding-large-vertical;
    }
    .contact-image {
        .img-circle;
        background-color: @gray-lighter;
    }
    .resume-contact {
        display: none;
    }
    .resume-summary {
        .description {
            text-align: justify;
        }
    }
}

@media screen and (max-width: @screen-sm) {
    .resume-overview {
        .resume-headshot {
            display: none;
        }
        .resume-contact {
            display: block;
            .clearfix;
            .contact-image {
                float: left;
                display: block;
                max-width: 128px;
                margin-right: @padding-large-horizontal;
            }
            .section-title {
                display: none;
            }
            .contact-name {
                font-size: 2rem;
            }
            .contact-jobtitle {
                font-size: 1.2rem;
            }
        }
        .resume-specialties {
            text-align: center;
            .section-title {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                .inline-bullet-list();
            }
        }
    }
}

@media screen and (max-width: @screen-xs) {
    .resume-overview {
        .resume-contact {
            font-size: .8rem;
            line-height: 1.15;
            text-align: center;
            .contact-image {
                float: none;
                display: inline;
                margin-bottom: @padding-base-vertical;
            }
            .contact-address {
                margin-bottom: @padding-base-vertical;
            }
        }
    }
}

@media print {
    .resume-overview {
        .resume-headshot {
            text-align: center;
            img {
                width: 120px;
            }
        }
    }
}